@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    position:relative;
    font-family:'Quicksand';
}
p{
    text-align:center;
    color:whitesmoke;
}
body{
    background:#91c8e4;
}
h1,h2{
    text-align:center;
    color:#8a96ff;
}
h2{
    font-size:14pt;
}