@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    position:relative;
    font-family:'Quicksand';
}
body{
    width:100vw;
    overflow-x:hidden;
}
h1,h2{
    text-align:center;
    color:#749bc2;
}
h2{
    font-size:14pt;
}


#lang{
    position:relative;
    bottom:50px;
}

#datetime{
    position:relative;
    text-align:end;
    right:5%;
    top:-30px;
}
footer{
    max-width:80vw;
    background-color:#4682a9;
    border:1px solid black;
    top:30px;
    margin:auto;
    color:white;
}

#body-container{    
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    right:30px;
    gap:100vw;
    width:400vw;
    background:linear-gradient(90deg,#91c8e4 20%,#749bc2 50%, #4682a9);
}
.full-article-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    left:12vw;
    gap:10vw;
}
.full-article-container a{
    text-wrap:balance;

}
.full-article-container .article-box{
    width:20vw;
}
br+h2{
    font-size:18pt;
    text-align:left;
    border-bottom:3px solid #983409;
    width:fit-content;
}

img{
    width:13vw;
    height:auto;
}
#carousel-points{
    display:flex;
    right:-44vw;
    gap:45px;
    font-size:60px;
}
#carousel-points div{
    border-radius:30px;
    background-color:gray;
    width:15px;
    height:15px;
}
div#point-1{
    background-color:#993548;
}
.article-box{
    top:10px;
}
a{
    text-decoration:none;
}
a p{
    color:#749bc2;
    background-color: #f6f4eb;
}
a p:hover{
    color:#f6f4eb;
    background-color: #749bc2;
}

.class{
    animation-duration:2.5s;
    animation-name:test;
    animation-fill-mode:forwards;
}
.back{
    animation-duration: 2.5s;
    animation-name:back;
    animation-fill-mode:forwards;
}
@keyframes test{
    from{
        right:0;
    }
    to{
        right:182vw;
    }
}
@keyframes back{
    from{
        right:182vw;
    }
    to{
        right:0vw;
    }
}



