@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    position:relative;
    font-family:'Quicksand';
    max-width:100vw;
}


h1, h2{
    margin:auto;
    text-align:center;
}
#datetime{
    text-align:end;
    top:-70px;
    font-size:larger;
}
#lang{
    top:-110px;
}
a{
    text-decoration:none;
}
#search-bar a{
    text-decoration:none;
    color:rgb(66, 181, 148);
    font-size:16pt;

}
#search-bar,header{
    display:flex;
    justify-content:space-around;
}
.selected{
    font-weight:bold;
}
section#container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap:20px;
}
img{
    width:50%;
    left:20%;
}




