@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    position:relative;
    max-width:100vw;
    font-family:'Quicksand';
}
body{
    width:100vw;
    overflow-x:hidden;
}
h1,h2{
    text-align:center;
}
h2{
    font-size:14pt;
}


#lang{
    position:relative;
    bottom:50px;
}

#datetime{
    position:relative;
    text-align:end;
    right:5%;
    top:-30px;
}
footer{
    max-width:80vw;
    background-color:rgb(241, 232, 232);
    border:1px solid black;
    top:30px;
    margin:auto;
}

#body-container{    
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:10em;
    align-items:center;
    left:5em;
}
br+h2{
    font-size:18pt;
    text-align:left;
    box-shadow:3px 2px 2px #555;
    width:fit-content;
}
.article-box{
    width:fit-content;
}
img{
   width:30em;
   height:20em; 
}
#body-container a{
    display:block;
    width:fit-content;
    text-decoration:none;
    color:black;
}

#first-arrow{
    display:inline-block;
    position:relative;
    border: solid #797676;
    border-width:0 15px 15px 0;
    padding:15px;
    transform:rotate(-45deg);
    top:20vh;
    z-index: 1;
    left:94vw;
}
#second-arrow{
    display:inline-block;
    position:relative;
    border:solid #797676;
    border-width:0 15px 15px 0;
    padding:15px;
    transform:rotate(135deg);
    top:20vh;
    right:2vw;
    z-index:1;
    
}


